.container{
    width: 50%;
    height:600px;
    background-color: rgb(224, 212, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
} 


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 178, 196);
}
.profile-image {
    max-width: 200px;
    margin: 10px;
}

img{
    border-radius: 10px;
}

button p{
    width:100px;
    margin-bottom: 5px;
}